button:focus {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
}
.header {
  background-color: white;
  width: 100%;
}
.header__burger-menu {
  display: none;
  padding-bottom: 20px;
}
.header__burger-menu div {
  margin-right: 20px;
  color: grey;
  font-size: 30px;
  font-weight: bold;
  line-height: 10px;
}
.header__container {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px rgba(94, 111, 238, 0.2);
}
.header__logo {
  padding-left: 17px;
  flex-grow: 1;
}
.header__text {
  padding-right: 25px;
  font-size: 15px;
}
.header__login-button {
  margin-right: 77px;
  font-size: 15px;
  height: 36px;
  width: 97px;
  border: 1px solid #01aedc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.main {
  background-color: #f2f2f3;
  display: flex;
  justify-content: center;
}
.profile {
  max-width: 1213px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.profile__about {
  display: flex;
  flex-direction: column;
}
.profile__info {
  max-width: 799px;
  width: 100%;
  height: 330px;
  background-color: white;
  display: flex;
}
.less {
  display: none;
  max-width: 799px;
}

.gallery {
  max-width: 799px;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile__contact {
  padding: 25px;
  text-align: center;
}
.profile__photo {
  background-image: url(images/profile.jpeg);
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 13px solid #f2f2f3;
}
.profile__mesaage-button {
  font-size: 15px;
  height: 40px;
  width: 120px;
  border: 2px solid #01aedc;
  border-radius: 5px;
  background-color: white;
  margin-top: 18px;
  cursor: pointer;
}
.profile__social-media {
  margin-top: 18px;
}
.profile__text {
  padding-top: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.profile__text p:nth-last-child(1) {
  padding-top: 15px;
}
.profile__text h1 {
  font-size: 22px;
  font-weight: 900;
  padding-bottom: 20px;
}
.profile__text p {
  font-size: 14px;
  line-height: 1.8;
}
.gallery__title {
  padding-bottom: 10px;
  width: 100px;
  font-size: 22px;
  font-weight: bold;
  align-self: flex-start;
  margin: 30px 0 0 30px;
}
.gallery__photos {
  max-width: 760px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.gallery__photos div:hover {
  opacity: 0.8;
}
.gallery__photo {
  height: 130px;
  border-radius: 10px;
  margin: 5px;
}
.gallery__photo--large {
  width: 190px;
}
.gallery__photo--small {
  width: 70px;
}
.gallery__photo--medium {
  width: 130px;
}
.gallery__photos div:nth-child(1) {
  background-image: url(images/photo1.jpeg);
  background-position: center;
  background-size: cover;
}
.gallery__photos div:nth-child(2) {
  background-image: url(images/photo2.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(3) {
  background-image: url(images/photo3.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(4) {
  background-image: url(images/photo4.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(5) {
  background-image: url(images/photo5.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__photos div:nth-child(6) {
  background-image: url(images/photo6.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(7) {
  background-image: url(images/photo7.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(8) {
  background-image: url(images/photo8.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(9) {
  background-image: url(images/photo9.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(10) {
  background-image: url(images/photo10.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(11) {
  background-image: url(images/photo11.jpeg);
  background-position: center;
  background-size: cover;
}

.gallery__photos div:nth-child(12) {
  background-image: url(images/photo12.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__photos div:nth-child(13) {
  background-image: url(images/photo13.jpeg);
  background-position: center;
  background-size: cover;
}
.service {
  width: 394px;
  max-height: 676px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.service__responsive {
  display: none;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: white;
}

.service__shoot {
  display: flex;
  margin-bottom: 5px;
  background-color: white;
  padding-bottom: 20px;
}
.service__shoot img {
  height: 80px;
  margin-top: 20px;
  margin-left: 20px;
}
.service__shoot h3 {
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
.service__offers {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.service__about {
  height: 120px;
  width: 80%;
  display: flex;
  border: 2px solid rgb(218, 216, 216);
  border-radius: 10px;
  margin-top: 15px;
}
.service__about--big {
  height: 180px;
}

.service__button {
  width: 80%;
  height: 40px;
  margin: 20px 0 20px 0;
  background-color: #01aedc;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.service__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__title {
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
.service__about--blue {
  border: 2px solid #01aedc;
}

.service__time-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5b118;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  color: white;
}
.service__time-logo--purple {
  background-color: rgb(151, 151, 227);
}
.service__time-logo--green {
  background-color: rgb(90, 254, 153);
}
.service__time-logo p:nth-child(2) {
  font-size: 9px;
}

.service__time {
  height: 100%;
  width: 25%;
  border-right: 1px solid rgb(218, 216, 216);
  background-color: #f2f2f3;
  border-radius: 8px 0 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.service__time--small {
  width: 24%;
}
.service__time--blue {
  border-right: 1px solid #01aedc;
}
.service__prise {
  margin-top: 10px;
  font-size: 14px;
}
.service__desk {
  width: 75%;
  margin-left: 10px;
}
.service__desk h4 {
  margin-top: 10px;
  font-weight: bold;
  line-height: 20px;
  font-size: 15px;
  width: 80%;
}
.service__desk p {
  margin-top: 5px;
  line-height: 18px;
  font-size: 14px;
  color: grey;
}
.service__mark {
  margin: 5px 5px 0 0;
}

.service__desk div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.reviews {
  max-width: 799px;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.reviews__responsive-title {
  display: none;
}

.reviews__container {
  display: flex;
  width: 95%;
  margin-left: 20px;
  border-bottom: 2px solid #f2f2f3;
  padding-bottom: 20px;
}
.reviews__profile-img {
  background-image: url(images/profile1.jpeg);
  background-position: center;
  background-size: cover;
  min-width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 8px solid #f2f2f3;
  margin-left: 30px;
}
.reviews__profile-img--man {
  background-image: url(images/profile2.jpeg);
}

.review {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.review__title {
  display: flex;
  justify-content: space-between;
}
.review__text {
  font-size: 14px;
  max-width: 600px;
  width: 100%;
  color: #b9b9bb;
  margin-top: 10px;
  line-height: 20px;
}
.reviews h5 {
  font-size: 18px;
  margin: 25px 0 20px 30px;
}
.review__title-stars {
  display: flex;
}
.review__title-stars img {
  width: 15px;
  height: 15px;
  margin-left: 3px;
}
.reviews__container--none-border {
  margin-top: 30px;
  border: none;
}
.nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.nav div {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}
.nav div:nth-child(5) {
  background-image: url("images/Rectangle\ Copy\ 8.png");
  color: black;
  font-weight: bold;
}
.write-review {
  max-width: 739px;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.write-review img {
  width: 20px;
  height: 20px;
}
.column h1 {
  display: none;
}
.write-review__container {
  max-width: 799px;
  width: 100%;
  padding-left: 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.write-review-input {
  max-width: 739px;
  width: 100%;
  min-height: 120px;
  height: 100%;
  padding: 12px 12px;
  border-radius: 10px;
  border: 1px solid #d0d0d3;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: gray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.write-review-input:hover {
  border-color: #01aedc;
}

.write-review-input:focus {
  border-color: #01aedc;
  outline: none;
}

::placeholder {
  color: #b9b9bb;
}
.review__post {
  max-width: 739px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.review__post button {
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #b9b9bb;
  background-color: #f2f2f3;
  cursor: pointer;
}
.service__less-small {
  color: gray;
  margin-top: 90px;
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
.service__less {
  margin-top: 90px;
  color: gray;
  margin-top: 90px;
  font-size: 20px;
  padding-right: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.service__less--big {
  margin-top: 146px;
}
.service__responsive {
  display: none;
}
@media only screen and (max-width: 1215px) {
  .service {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 787px) {
  .service__responsive {
    display: block;
  }
  .service {
    order: -1;
    max-width: 799px;
    width: 100%;
    margin-left: 0;
  }
  .service__offers {
    display: none;
  }
  .service__shoot {
    justify-content: center;
  }
  .service__shoot img {
    height: 50px;
    margin-top: 40px;
  }
  .service__shoot h3 {
    margin-top: 40px;
    font-size: 16px;
  }
  .profile__text p:nth-last-child(1) {
    display: none;
  }
  .nav {
    display: none;
  }
  .reviews__responsive {
    display: block;
    display: flex;
    padding-left: 20px;
  }
  .reviews__responsive-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
  }
  .reviews__responsive-title span {
    padding-bottom: 20px;
  }
  .review__title {
    display: none;
  }
  .reviews__container {
    margin-left: 0;
  }
  .review__title {
    justify-content: flex-start;
    flex-direction: column;
  }
  .reviews__profile-img {
    width: 90px;
  }
  .reviews__container {
    display: block;
  }
  .header__burger-menu {
    display: block;
  }
  .header__container {
    justify-content: flex-end;
  }
  .header__text {
    display: none;
  }
  .header__login-button {
    display: none;
  }

  .gallery__title {
    align-self: center;
  }
  .gallery__photos {
    max-width: 650px;
    width: 100%;
  }
  .gallery__photo--small {
    width: 54px;
  }
  .gallery__photo--medium {
    width: 108px;
  }
  .gallery__photo--large {
    width: 162px;
  }

  .profile__text p {
    font-size: 14px;
    line-height: 1.5;
  }
  .header__login-button {
    margin-right: 5px;
  }

  .profile__text {
    width: 500px;
  }
  .gallery__photos {
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 690px) {
  .gallery__photos {
    max-width: 500px;
    width: 100%;
  }
  .account__photo h3 {
    padding: 20px 0 5px 75px;
  }
  .gallery__photo--small {
    width: 40px;
  }
  .gallery__photo--medium {
    width: 80px;
  }
  .gallery__photo--large {
    width: 120px;
  }
  .profile__text {
    width: 370px;
  }
}

@media only screen and (max-width: 550px) {
  .profile__info {
    min-height: 400px;
    padding-bottom: 10px;
  }

  .profile__text p {
    font-size: 12px;
  }
  .profile__info {
    flex-direction: column;
  }
  .profile__contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile__text {
    padding: 0;
    max-width: 80%;
    margin: auto;
  }
  .profile__text h1 {
    display: none;
  }

  .profile__photo {
    width: 120px;
    height: 120px;
  }
  .column {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .column h1 {
    display: block;
    font-weight: bold;
  }
  .gallery__photo {
    margin-left: 0;
  }
  .gallery__photos div:nth-child(7) {
    display: none;
  }
  .gallery__photos div:nth-child(8) {
    display: none;
  }
  .gallery__photos div:nth-child(9) {
    display: none;
  }
  .gallery__photos div:nth-child(10) {
    display: none;
  }
  .gallery__photos div:nth-child(13) {
    display: none;
  }
  .gallery__photos div:nth-child(12) {
    order: -1;
  }
  .gallery__photos div:nth-child(6) {
    order: 1;
  }
  .gallery__photo--large {
    width: 190px;
  }
  .gallery__photo--small {
    width: 70px;
  }

  .gallery__photos {
    max-width: 300px;
    padding-bottom: 20px;
    justify-content: center;
    margin-left: 0;
  }
  .profile__text p {
    line-height: 17px;
    font-size: 12px;
    min-width: 250px;
    padding-left: 10px;
  }
}
@media only screen and (max-width: 414px) {
  .service__desk p {
    font-size: 11px;
  }
  .service__desk h4 {
    width: 100%;
  }
  .less {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .gallery__title {
    margin-left: 0px;
    align-self: flex-start;
    padding-left: 40px;
  }
}

@media only screen and (max-width: 335px) {
  .service__title h4 {
    padding-left: 10px;
  }
  .write-review__container {
    width: 300px;
    margin: auto;
  }
}
